/**
 * Created by PhpStorm.
 * Autor: Victor Puissant Baeyens, 12098
 * Autor: Paolo De Keyzer, 13201
 */


td, th /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}
table
{
    border-collapse: separate; /* Les bordures du tableau seront collées (plus joli) */
    border: 1px solid black; /* auront une bordure de 1px */
}
html
{
    font-family: "Cambria", Times, serif;
}
h1
{
    font-family: "Magneto", Times, serif;
    width:200px;
    height:200px;
    background-image: url(bogota.png);
}
h2
{
    font-family: "Cambria", Times, serif;
}
div#reserv
{
    width: 60%;
    border: 15px solid green;
    padding: 15px;
    margin: 15px;
}



